@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf);
}

body {
    background-color: #EBE5C5;
    margin: 0px;
}

/*header*/
header {
    background-image: linear-gradient(to bottom, #2FA766, #063D1E);
    height: 260px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.493)

}
header >h1 {
    padding: 42px 0px 0px 0px;
    text-align: center;
    color: white;
    font-family: 'bebas neue';
    font-size: 2.8em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507);
}
header >p {
    padding: 0px 0px 58px 0px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507);
}
header >nav >a {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: #83E1AD;
}
header>nav>a:hover{
    border: 3px solid #83E1AD;
    border-radius: 15px;
    transition: 0.7s;
    background-color: #83E1AD;
    color: #063D1E;
}
/*/header*/
/* Main*/
main{
    max-width: 736px;
    min-width: 320px;
    background-color: white;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.438);
    color: black;
    margin: auto;
}

#principal {
    padding: 20px 30px;
}
#principal> h1 {
    font-family: 'idroid';
    font-size: 2em;
}
#principal> h2 {
    font-family: 'idroid';
}

#extra {
    height: 400px;
    width: 500px;
    background-color: lightgreen;
}

/*/main*/
/*footer*/
footer {
    background-color: black;
    color: white;
    text-align: center;
}
/*/footer*/
